html, body{
	width: 100%;
	height: 100%;

}

html{
	font-size: 1vw;
}

body{
	margin: 0;
}

	dewdew
.container{
	width: 100%;
	height: 100%;
	margin: 0;
	display: grid;
	grid-template-columns: repeat(15, 6.666vw);
	grid-template-rows: repeat(10, 50px);
	justify-content: center;


 
   
}

.box{
	border:1pt solid black;
	padding: 0px;
/*	margin:0px;*/
	

}

section{

}

img {
    max-width: 150%;
    max-height: 150%;
 
}

#textWrap{
	border: 1px solid red;
	position: fixed;
	display: grid;
	grid-template-columns: repeat(15, 90px);
	grid-template-rows: repeat(10, 50px);
	top: 0;

}


/* -------------------------------- */
.title{
	grid-column: 1/16;
	grid-row: 1/1;
	font-size: 30px;


}
/* -------------------------------- */
.me{
	grid-column: 1/2;
	grid-row: 2/5;
	
}
/* -------------------------------- */

.intro1{
	grid-column: 2/6;
	grid-row:2/5;
	overflow: hidden;
	
}

#onedayimg{

	top:5%;
}

#intro1title{
	z-index: 100;
  	position: relative;
	font-size: 2rem;
	font-family: sans-serif;
	left:25%;

}

/* -------------------------------- */

.intro2{
	grid-column: 1/6;
	grid-row: 5/8;
	

}

#obliquestrategies{

}

/* -------------------------------- */
.wordworld{
	grid-column: 6/10;
	grid-row:2/7;

}

p1 span {
  font: 15px Courier, MonoSpace;
  height: 200px;
  position: absolute;
  width: 10px;
  left: 47%;
  top:10%;
  transform-origin: center;
}


/* -------------------------------- */
.autobio{
	grid-column: 12/16;
	grid-row:2/7;

}
/* -------------------------------- */
.ambiguity{
	grid-column: 1/4;
	grid-row: 8/16;

}
/* -------------------------------- */
.unknowable{
	grid-column: 4/6;
	grid-row: 8/16;

}



/* -------------------------------- */
.hiroko{
	grid-column: 6/12;
	grid-row: 7/13;
	overflow: hidden;

}

#hirokoimg{
	height: 105%;
	align-self: left;
	position: relative;
	top:-3%;
}

#hirokotextjap{
	  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        position:relative;
        top:8%;
        right:14%;
  		float: right;
  		font-size: 2.1rem;
  		font-weight: ;
}

#hirokotexteng{
	max-width: 50%;
	transform: rotate(90deg);
	font-size: 2rem;
	float: right;
	position: absolute;
	left:54%;
	top:57%;

	}



/* -------------------------------- */

.noting{
	grid-column: 12/16;
	grid-row: 7/12; 
}
/* -------------------------------- */
.wordsdontcommunicate{
	grid-column: 12/16 ;
	grid-row: 12/16;
}

/* -------------------------------- */

.pastispresent{
	grid-column: 6/12 ;
	grid-row: 13/15;
	
}

#pastispresenttext{
	font-style: italic;
	font-size: 4rem;
	position: relative;
	left: 15%;
	top:12%;

}
/* -------------------------------- */
.afterthought{
	grid-column: 10/12;
	grid-row:2/7;
}
/* -------------------------------- */
.info{
	grid-column: 6/ 12;
	grid-row: 15 /16;

}


